@import "style.css";
#product-details ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#product-details ul li {
  margin: 10px 0;
}

.product-image {
  display: none;
}

.image-list li {
  margin: 0;
}

.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show>.btn-outline-dark.dropdown-toggle {
  background-color: #DBA888 !important;
  color: var(--black) !important;
  border: 0 !important;
}

.btn-outline-dark:not(:disabled):not(.disabled).active:focus, .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-dark.dropdown-toggle:focus {
  box-shadow: none !important;
}

.tab-content {
  margin: 10px;
}

.nav li.nav-item {
  margin: 10px !important;
}

.nav .nav-item {
  width: 45%;
}

@media (min-width: 62rem) {
  .product-image img, .image-list img {
    width: 100%;
  }
  .product-image {
    display: block;
    border: 1px solid #EBDACB;
  }
  .product-image img {
    height: auto;
    width: 100%;
    max-width: 100%;
  }
  .product-image img.active {
    display: block;
    margin: 0.75rem 0;
  }
  .image-list {
    display: block;
    overflow: hidden;
  }
  .image-list li {
    margin: 0 0.75rem 0 0;
    flex-basis: 100%;
  }
  .image-list li:nth-child(1) {
    margin: 0 !important;
  }
  .image-list li:nth-child(3) {
    margin: 0;
  }
  .image-list img {
    height: 200px;
    object-fit: cover;
    width: 100%;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }
  .image-list img:hover {
    opacity: 0.7;
    border: 1px solid #EBDACB;
  }
  .image-list .image-item img {
    max-width: 100%;
    height: auto;
    width: 100%;
  }
  .products .product-title {
    font-family: Bodoni;
    font-size: 35px;
  }
  .products .product-title span {
    font-size: 22px;
  }
  p.price {
    font-family: Bodoni;
    font-size: 40px;
    color: var(--black);
  }
  nav ul {
    justify-content: flex-end;
  }
  .toggle-nav {
    display: none;
  }
  .flex-nav {
    display: block;
  }
  .flex-nav ul {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
  }
  .flex-nav ul li {
    font-size: 1.125rem;
    margin: 0 1.5rem 0 0;
  }
  .flex-nav ul li:nth-child(4) {
    margin: 0;
  }
}

@-webkit-keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mt--250 {
  margin-top: -250px;
}

@media only screen and (max-width:990px) {
  .mt--md--100 {
    margin-top: -250px;
  }
  .mt--250 {
    margin-top: 230px;
  }
  #bene .mt-sm-150 {
    margin-top: -250px;
  }
}

@media (max-width: 768px) {
  .image-list img {
    height: 150px;
  }
  .image-list {
    display: inline-block;
  }
  .product-gallery ul li {
    display: inline-block;
  }
  .product-image {
    display: block;
  }
  #products-detail {
    padding: 30px 0;
  }
  .products-detail::before, .products-related::before, .products-detail::after {
    content: " ";
  }
  .h1, h1 {
    font-size: 1.5rem;
  }
  .h2, h2 {
    font-size: 1.5rem;
  }
  .nav li.nav-item {
    margin: 10px !important;
  }
  .nav .nav-item {
    width: 44%;
  }
  .btn.btn-outline-dark, .btn.btn-primary-rose {
    font-size: 12px;
    padding: 25px 10px;
  }
  #bene p {
    font-size: 13px;
  }
  .fl-sm-02 {
    transform: rotate(281deg);
    width: 40px;
    margin-top: -30px;
    position: absolute;
    right: -50px;
  }
  .mt-sm-150 {
    margin-top: -150px;
  }
  .fl-sm-03 {
    width: 60px;
    margin-bottom: 10px;
    margin-left: -30px;
  }
  .fl-sm-04 {
    width: 20px;
  }
  #products {
    padding: 60px 10px;
  }
}